/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    "./src/**/*.{js,ts,jsx,tsx,mdx}",
  ],
  theme: {
    extend: {
      colors: {
        // Ta charte officielle
        navy: {
          DEFAULT: '#001F4C', // Deep Navy sur pinary
          dark: '#001026',
        },
        gold: {
          DEFAULT: '#C5A059', // Ta palette complémentaire
          light: '#D4B87E',
        },
        cream: '#EDE8E0', // Pour le texte sur fond sombre
      },
      fontFamily: {
        serif: ['var(--font-playfair)', 'serif'], // La police "Mohammed Reda"
      },
    },
  },
  plugins: [],
};